@model IEnumerable<Kwanso.MVC.Models.Tasks>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<div class="row">
    <div class="col-sm-2">
        @Html.ActionLink("Create Task", "Create", "Tasks", null, new { @class = "btn btn-info" })
    </div>
    <div class="col-sm-2">
        @Html.ActionLink("Bulk Delete", "Delete", "Tasks", null, new { @class = "btn btn-info" })
    </div>
</div>

<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-3" style="margin: 0 0 10px 0px;">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Id: @item.Id</h5>
                    <p class="card-text">Task Name : @item.Name</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }
</div>